<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modifier Secrétaire</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
  <div class="username">DR <span th:text="${user.nom}"></span></div>
</div>

<div class="sidebar">
  <a th:href="@{/home}">Home</a>
  <a href="/profile">Profile</a>
  <a href="/patients">Patients</a>
  <a th:href="@{/caisse/{id}(id=1)}">Caisse</a>

  <a href="/secretaires">Personnel</a>
  <a href="/parameters">Parameters</a>
  <a href="/" class="logout">Deconnexion</a>
</div>
  <div class="container">
    <h2>Modifier Secrétaire</h2>
    <form th:action="@{'/secretaire/update/' + ${secretaire.id}}" th:object="${secretaire}" method="post">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" name="nom" th:field="*{nom}" required>
      </div>
      <div class="form-group">
        <label for="salaireDeBase">Salaire de Base:</label>
        <input type="number" class="form-control" id="salaireDeBase" name="salaireDeBase" th:field="*{salaireDeBase}" required>
      </div>
      <div class="form-group">
        <label for="dateRetourConge">Date de Retour de Congé:</label>
        <input type="date" class="form-control" id="dateRetourConge" name="dateRetourConge" th:field="*{dateRetourConge}" required>
      </div>
      <div class="form-group">
        <label for="assurance">Assurance:</label>
        <input type="text" class="form-control" id="assurance" name="assurance" th:field="*{assurance}" required>
      </div>
      <div class="form-group">
        <label for="statusActuel">Status Actuel:</label>
        <input type="text" class="form-control" id="statusActuel" name="statusActuel" th:field="*{statusActuel}" required>
      </div>
      <div class="form-group">
        <label for="prime">Prime:</label>
        <input type="number" class="form-control" id="prime" name="prime" th:field="*{prime}" required>
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
</div>
</body>
</html>
